:root{

/* ### Primary */

--Light_red_CTA_text: hsl(356, 100%, 66%);
--Very_light_red_CTA_hover_background: hsl(355, 100%, 74%);
--Very_dark_blue_headings: hsl(208, 49%, 24%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--White_low_opacity: hsla(240, 2%, 79% , 0.4);
--Grayish_blue_footer_text: hsl(240, 2%, 79%);
--Very_dark_grayish_blue_body_copy: hsl(207, 13%, 34%);
--Very_dark_black_blue_footer_background: hsl(240, 10%, 16%);

/* ### Gradient */

/* Background gradient - Intro/CTA mobile nav: */

--Very_light_red: hsl(13, 100%, 72%);
--Light_red: hsl(353, 100%, 62%);

/* Background gradient - body: */

--Very_dark_gray_blue: hsl(237, 17%, 21%);
--Very_dark_desaturated_blue: hsl(237, 23%, 32%);

/* ## Typography */

/* ### Body Copy */

--Font_size: 16px

}
body{
    min-width: 100vh;
}
*{
    font-size: var(--Font_size);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-rows: 440px 700px 400px 800px 400px;
    gap: 5em;
    
}
a{
    text-decoration: none;
    color: var(--White);
}
li {
    list-style-type: none;
}

.overlay{
    height: 100%;
    display: grid;
    grid-template-rows:1fr 2fr ;
    /* justify-content: center;
    align-items: center;
    align-content: center; */
    background: url('./images/bg-pattern-intro-desktop.svg')  ;
    background-repeat: no-repeat;
    background-size: 210%;
    background-position-x: -21.3rem;
    background-position-y: -72rem;
   
}

header{
    border-bottom-left-radius: 4em;
    background:  linear-gradient(0.25turn, var(--Very_light_red),var(--Light_red)) ;
}

nav{
    display: grid;
    grid-template-columns: 0.5fr 1.75fr 0.5fr; 
    margin-top: 1rem;
    margin-left:10rem;
    margin-right: 9rem;
    /* gap: 1rem; */
    align-items: center;
    align-content: center;
}

.menu  {
    display: grid;
    grid-template-columns: repeat(3, 0.15fr);
    gap: 15px;
}
.connection  {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
  
    margin-left: -6px;
}

.display_page{
    margin: 10px auto;
    display: grid;
}
menu::after{
    content: "";
    clear: both;
}

.sub_menu {
    margin-top: 1px;
    padding: 15px 25px;
    display: none;
    box-shadow: 0px 1px 2px var(--Grayish_blue_footer_text);
    background-color: var(--White);
    position: absolute;
    z-index: 1000;
}
.menu_deroulant:hover .sub_menu{
    
    border-radius: 4px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}


.sub_menu li
{
    text-align: left;
}
.menu_deroulant > a::after{
    content: url('./images/icon-arrow-light.svg');
    font-size: 12px;
}
.sub_menu li a {
    color: var(--Very_dark_gray_blue);
    font-size: 14px;
}

.sub_menu li a:hover {
    color: var(--Very_dark_blue_headings);
    font-weight: 700;
}
.display_page, .title{
    display: flex;
    flex-direction: column;
    gap:2rem;
    color: var(--White);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title h1{
    font-size: 45px;
    text-align: right;
}

.title p{
    color: var(--White);
}
.decoration_btn, .decoration_btn_outline{
    border-radius: 30px;
    padding: 15px 25px;
    text-align: center;
    font-weight: 700;
    
}
.connection > .decoration_btn{
    padding: 10px 0px;
}
.decoration_btn_outline{  
   
    border: 1px solid var(--White);
}
.decoration_btn{
    color: var(--Light_red);
    background-color: var(--White);
    margin-right: 10px;
}

.decoration_btn_outline:hover{
    color: var(--Light_red);
    background-color: var(--White);
  
}


.decoration_btn:hover{
    color: var(--White);
    background-color:  var(--White_low_opacity  );
    
}

/* introduction part  */

.introduction{
    display: grid;
   
    grid-template-rows: 0.1fr 2fr;

}

.desktop_display{
    background:url('./images/illustration-editor-desktop.svg') no-repeat;
    background-size: contain;
    background-size: 100%;
    height: 100%;
    background-position-x: 11rem;
   
}
.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    align-content: center;
    gap: 2em;
    margin-left: 10em;
}

.left article {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.title_h2{
    text-align: center;
    top: 5em;
    position: relative;
    font-weight: 500;
    font-size: 24px;
}

h3{
    font-weight: 500;
    font-size: 20px;
}
h3, .title_h2{
    color: var(--Very_dark_blue_headings);
}

/* architecture */
.architecture{
    background-color: var(--Very_dark_desaturated_blue);
    border-bottom-left-radius: 6em;
    border-top-right-radius: 6em;

}
.architecture{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.phone_ilustration_content{
    background: url('./images/bg-pattern-circles.svg') no-repeat;
    
    background-size: 96.7%;
    background-position-y: -30em;
    background-position-x: -9.6em;
}
.phone_ilustration_content::before{
    background-color: var(--Grayish_blue_footer_text);
}
.phone_ilustration{
    top: -4em;
    left: 6em;
    position: relative;
}

.desciption article{
    margin: 7em auto;
    position: relative;
    left: -14em;
    text-align: left;
    display: grid;
    gap: 1em;
    color: var(--White);

}
.desciption h2{
    font-size: 34px;
    
}

/* product */
.product{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.desktop_ilustration{
    
    right: 17em;
    position: relative;
}

.product_left {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    right: 15em;
    gap: 3.6em;
}


.product_left article{
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 1em;
}
/*  footer  */
footer{
    background-color: var(--Very_dark_black_blue_footer_background);
    display: grid;
    grid-template-columns: 1fr 2fr ;
    justify-content: center;
    align-items: center;
    align-content: center;

}
footer img{
    margin: 1em auto;
    position: relative;
    bottom: 5em;
}

.menu_footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
    gap: 10px;
}


.footer_menu_items{
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}
.footer_menu_items a {
    font-weight: 600;
}
.footer_sub_menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.footer_sub_menu a{
    font-weight: 400;
}


